<mat-card class="card" @fadeInOut>
    <div class="image-container">
      <img mat-card-image [src]="photo?.urls?.small" alt="Mower Image">
    </div>
    <mat-card-content>
      <div class="title-container" pTooltip="{{ mower.name }}" tooltipPosition="bottom">
        <h3><strong>{{ mower.name }}</strong></h3>
      </div>
    </mat-card-content>
    
    <!-- Add the booking button here -->
    <mat-card-footer>
      <button mat-raised-button color="primary" (click)="bookMower(mower)">
        Book Now
      </button>
    </mat-card-footer>
  </mat-card>
  